<div>
  <h1 class="yb-28 font-bold text-4xl">Major System from <%= @major_system.origin  %></h1>

  <%= link_to("🔙 to my mnemonic systems", brain_major_systems_path, class: "link") %>

  <p class="mt-5 mb-1">
    <strong>Origin:</strong> <%= link_to(@major_system.origin, @major_system.origin_url) %>
  </p>

  <p class="my-1">
    <strong>Language iso:</strong> <%= @major_system.language_iso %>
  </p>

  <p class="my-1">
    <strong>Brain:</strong> <%= @major_system.brain_id %>
  </p>

  <div id="quick-links" class="my-5">
    <% @major_system.pegs.in_batches(of: 10) do |peg_batch| %>
      <div class="btn-toolbar my-2" style="justify-content: center;" role="toolbar" aria-label="Quick links button groups">
        <div class="btn-group me-2" role="group" aria-label="Group">
          <% peg_batch.each do |peg| %>
            <%= link_to peg.number, "##{dom_id(peg)}", class: "btn btn-outline-secondary", style: "width: 38px;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="pegs">
    <% @major_system.pegs.each do |peg| %>
      <div id="<%= dom_id peg %>" class="mt-28">

        <p class="my-5 text-center font-mono text-4xl">
          <%= peg.number %>
        </p>

        <p class="my-5 text-center font-mono text-4xl">
          <%= peg.phrase %>
        </p>

        <p class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
          <% if peg.image.attached? %>
            <%= image_tag(peg.image.variant(resize_to_limit: [200, 200]), class: "peg-image") %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
