<div class="w-full relative">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="text-center">
    <h1 class="font-bold text-4xl"><%= @major_system.origin %></h1>
    <p>
      <%= link_to "#{@major_system.origin_url}", @major_system.origin_url, target: "_blank" %>
    </p>
  </div>

  <%= form_with(model: @major_system, local: true, class: "mt-20") do |form| %>
    <div class="inline-block pr-2 w-1/2">
      <%= form.label :language_iso %>
      <%= form.select :language_iso,
        public_major_system_languages_select,
        {selected: params[:language_iso]},
        {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"}
      %>
    </div>
    <div class="inline-block pl-2 w-1/2 float-right">
      <%= form.label :system_name, "Major System" %>
      <%= form.select :system_name,
        public_major_systems_select(selected_language: form.object.language_iso),
        {prompt: "Different brains, different images..."},
        {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"}
      %>
    </div>
  <% end %>

  <div id="quick-links" class="grid grid-cols-10 gap-1 text-center mt-28">
    <% @major_system.pegs.each do |peg| %>
      <%= link_to peg.number, peg_path(peg), class: "text-blue-600 underline" %>
    <% end %>
  </div>

  <div id="pegs">
    <% @major_system.pegs.each do |peg| %>
      <%= render "public_pages/public_peg", peg: peg %>
    <% end %>
  </div>

  <%= link_to "Add it to Your long term memory! 🧠🚀",
    "#",
    class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium fixed bottom-14 right-14"
  %>
</div>
