<div id="<%= dom_id major_system %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Origin:</strong>
    <%= major_system.origin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Language iso:</strong>
    <%= major_system.language_iso %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brain:</strong>
    <%= major_system.brain_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this major system", major_system, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this major system', edit_major_system_path(major_system), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
