<div>
  <h1 class="h1">
    Major Systems in different languages
  </h1>

  <p class="my-5">Need a different language? We already have some covered:</p>

  <%= form_with url: public_major_systems_path, method: :get do |form| %>
    <div class="row">
      <div class="col">
        <%= form.select :language_iso,
          public_major_system_languages_select,
          {selected: params[:language_iso]},
          {
            class: "form-select p-3"
          }
        %>
      </div>
      <div class="col">
        <%=
          form.submit "Change",
            data: {turbo_frame: "systems"},
            class: "btn btn-primary p-3"
        %>
      </div>
    </div>
  <% end %>

  <p class="my-5">
    Have major system in a different language that you'd like to share?
    I'd be happy to hear from you! <%= link_to("Ping rich", "https://twitter.com/RichStoneIO", target: "_blank") %>
  </p>

  <div id="major_systems" class="text-center">
    <%= turbo_frame_tag :systems do %>
      <% @major_systems.each do |major_system| %>
        <div class="card my-5">
          <h5 class="card-header"><%= major_system.origin %></h5>
          <div class="card-body">
            <% if major_system.pegs.first&.image&.attached? %>
              <%= link_to(
                    image_tag(
                      major_system.pegs.first.image.variant(resize_to_limit: [200, 200]),
                      class: "peg-image"
                    ),
                    public_major_system_path(major_system)
                  )
              %>
            <% end %>

            <p class="card-text mt-4">This is an awesome mnemonic major system from <%= major_system.origin %>.</p>

            <%= link_to "Check it out 👀", public_major_system_path(major_system), class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
