<h1 class="yb-28 font-bold text-4xl">Major System from <%= @major_system.origin  %></h1>

<%= link_to("🔙 to all systems", public_major_systems_path, class: "link") %>

<p class="mt-5 mb-1">
  <strong>Origin:</strong> <%= link_to(@major_system.origin, @major_system.origin_url, {target: "_blank"}) %>
</p>

<p class="my-1">
  <strong>Language:</strong> <%= ::ISO_639.find(@major_system.language_iso).english_name %>
</p>

<div id="quick-links" class="my-5">
  <% @major_system.pegs.in_batches(of: 10) do |peg_batch| %>
    <div class="btn-toolbar my-2" style="justify-content: center;" role="toolbar" aria-label="Quick links button groups">
      <div class="btn-group me-2" role="group" aria-label="Group">
        <% peg_batch.each do |peg| %>
          <%= link_to peg.number, "##{dom_id(peg)}", class: "btn btn-outline-secondary", style: "width: 38px;" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="pegs" class="mt-5">
  <% @major_system.pegs.ordered.each do |peg| %>
    <div id="<%= dom_id peg %>">
      <div class="card my-5 text-center mx-auto" style="width: 18rem;">
        <h4 class="card-text p-1"><%= peg.number %></h4>
        <% if peg.image.attached? %>
          <%= image_tag(peg.image.variant(resize_to_limit: [400, 400]), class: "card-img-top") %>
        <% end %>
        <h5 class="card-title p-2"><%= peg.phrase %></h5>
      </div>
    </div>
  <% end %>
</div>

<%=
  link_to "Memorize 🧠",
    new_brain_conversion_path(resource: {id: @major_system.id}),
    class: "btn btn-primary",
    style: "position: fixed; right: 10px; bottom: 5px"
%>
