<div id="<%= dom_id peg %>" class="mt-28">

  <p class="my-5 text-center font-mono text-4xl">
    <%= peg.number %>
  </p>

  <p class="my-5 text-center font-mono text-4xl">
    <%= peg.phrase %>
  </p>

  <p class="text-center">
    <% if peg.image.attached? %>
      <%= link_to image_tag(peg.image.variant(resize_to_limit: [380, 380]), class: "peg-image"), admin_peg_path(peg) %>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <div class="text-center">
      <%= link_to "Show ðŸ‘€", admin_peg_path(peg), class: "btn m-2" %>
      <%= link_to "Edit âœï¸", edit_admin_peg_path(peg), class: "btn btn-primary m-2" %>
      <hr class="mt-6">
    </div>
  <% end %>
</div>
