<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= link_to "ðŸ”™ List", admin_pegs_path, class: "btn btn-outline-primary" %>

    <%= render @peg %>

    <%= link_to "Edit âœï¸", edit_admin_peg_path(@peg), class: "btn btn-primary btn-lg" %>

    <%= button_to "Destroy ðŸš®", admin_peg_path(@peg), method: :delete, class: "btn btn-danger btn-sm float-end" %>
  </div>
</div>
