<!DOCTYPE html>
<html>
  <head>
    <title>memocortex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.png") %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <main class="container-fluid mt-5">

      <% if alert.present? %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>

      <% if notice.present? %>
        <p class="alert alert-primary" role="alert"><%= notice %></p>
      <% end %>

      <div class="row justify-content-center">
        <div class="col-8">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <%= link_to "About â„¹ï¸", public_homepage_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "Major Systems ðŸ”®", public_major_systems_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "Connect ðŸ§ ðŸ”Œ", brain_session_path, class: "nav-link px-2 text-muted" unless brain_signed_in? %>
    </ul>
    <p class="text-center text-muted">
      Made with ðŸ§  by <%= link_to "RichStoneIO", "https://richstone.io/train-your-developer-memory/", target: "_blank" %>
      Â© <%= Time.current.year %></p>
  </footer>
</html>
